{#<h2>Log In</h2>#}
{#<form method="post">#}
{#  {% csrf_token %}#}
{#  {{ form.as_p }}#}
{#  <button type="submit">Log In</button>#}
{#</form>#}
<!DOCTYPE html>
<html lang="">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>
<div class="row">
  <div class="col s12 m8 l4 offset-m2 offset-l4">
    <div class="card">

      <div class="card-action teal lighten-1 white-text">
        <h3>RIPE Alerts Login</h3>
      </div>

      <div class="card-content">
        <div class="form-field">
          <label for="username">Username</label>
          <input type="text" id="username">
        </div><br>

        <div class="form-field">
          <label for="password">Password</label>
          <input type="password" id="password">
        </div><br>

        <div class="form-field">
          <input type="checkbox" id="remem">
          <label for="remem">Remember me</label>

        </div><br>

        <div class="form-field">
          <button class="btn-large waves-effect waves-dark" style="width:100%;">Login</button>
        </div><br>
      </div>

    </div>
  </div>
</div>
</html>